- hosts: master
  become: true
  #gather_facts: true
  tasks:

    - name: Delete the old files
      file:
        path: "/home/ubuntu/docker/{{ item }}"
        state: absent
      loop:
        - docker-compose.yml
        - docker-compose-node.yml
    
    - name: Copy config files to Instance
      copy:
        src: "{{ item }}"
        dest: /home/ubuntu/docker
        force: yes
      with_items:
        - ./prometheus.yml
        - ./grafana.yml
        - ./docker-compose.yml

    - name: Run Docker Compose to start Grafana and Prometheus
      community.docker.docker_compose_v2: 
         project_src: "/home/ubuntu/docker" 
         files:
          - docker-compose.yml   
         state: present   
      register: output

    - name: Output result
      debug:
        var: output
