- hosts: all
  become: true
  gather_facts: true
  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install required packages
      apt:
        name:
          - ca-certificates
          - curl
        state: present

    - name: Create apt keyrings directory
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Download Docker GPG key
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'

    - name: Convert docker GPG key to binary keyring #ubuntu supports only gpg keyrin, so convert them toi .gpg
      command:
        cmd: gpg --dearmor -o /etc/apt/keyrings/docker.gpg /etc/apt/keyrings/docker.asc
        creates: /etc/apt/keyrings/docker.gpg

    - name: Add Docker repository
      copy:
        dest: /etc/apt/sources.list.d/docker.sources
        content: |
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: {{ ansible_distribution_release }}
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.gpg
        mode: '0644'

    - name: Update apt cache after adding Docker repo
      apt:
        update_cache: yes

    - name: Remove tha ASCII docker key
      apt:
        path: /etc/apt/keyrings/docker.asc
        state: absent    

    - name: Install Docker Engine and plugins
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
      notify: restart docker

    - name: Start and enable Docker
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Add user to docker group
      user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes

    - name: Verify Docker installation
      command: docker --version
      register: docker_version

    - name: Verify Docker Compose installation
      command: docker compose version
      register: compose_version

   # - name: Show Docker versions
   #   debug:
   #     msg:
   #      - "{{ docker_version.stdout }}"
   #      - "{{ compose_version.stdout }}"
   # - name: Install docker compose ansible modules
   #   command: ansible-galaxy collection install community.docker
  handlers: 
    - name: restart docker
      service: 
          - name: docker
            state: restarted 
 

