- hosts: all
  become: true
  tasks:
    
    - name: Create dir for the docker compose
      file:
        path: /home/ubuntu/docker
        state: directory
        owner: ubuntu

    - name: Copy the compose file from local to instance
      copy:
        src: "{{ item }}" 
        dest: /home/ubuntu/docker
      with_items:
        - ./docker-compose-node.yml
       # - ./docker-compose.yml


    - name: Container for NODE-EXPORTER
      community.docker.docker_compose_v2:
         project_src: "/home/ubuntu/docker"  
         files:
           - docker-compose-node.yml  
         state: present 
      register: bugy

    - name: Output result
      debug:
        var: bugy 
